:root {
    --primary: hsla(17, 100%, 15%, 0.397);
    --secondary: hsla(315, 67%, 45%, 0.712);
    --secondary-light: hsl(172deg 67% 70%);
    --label: hsl(96, 42%, 5%);
    --placeholder: hsl(184, 14%, 56%);
    --body: hsl(185, 41%, 84%);
    --input-bg: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --logo: hsl(180deg 25% 32%);
    --error: rgb(88, 83, 13);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Space Mono', monospace;
    font-size: 2.4rem;
    background-color: var(--body);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.8rem;
    height: 100vh;
    font-weight: bold;
  }

  fieldset {
    border: none;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}

.slider input[type="range"] {
    -webkit-appearance: none !important;
    border-radius: 1rem;
    width: 180px;
    height: 9px;
    background: black;
    border: none;
    outline: none;
}



#btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.btn-cont {
    display: block;
    position: relative;
    width: 14.66rem;
    height: 4.8rem;
    margin-top: 1.6rem;
    border-radius: 0.5rem;
    margin: 0;
    padding: 0;
}
legend {
    /* more style rules above 
    together with .bill-cont, .people-cont */
    height: 2.0rem;
}

.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 20px;
    height:20px;
    background: black;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

input[type='range'] {
    width: 100%;
    border-radius: 1rem;
    -webkit-appearance: none;
    background-color: #080701;
}
input {
    cursor: pointer;
    border: 2px solid transparent;
}
    
.slider input[type="range"]::-webkit-slider-thumb:hover {
    background: black;
}
  
  button {
    cursor: pointer;
  }
  
  h1 {
    font-size: inherit;
    color: var(--logo);
    letter-spacing: 5px;
    text-align: center;
  }
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    letter-spacing: 5px;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
  }
  
  main {
    padding: 3.2rem;
    background-color: var(--white);
    width: 100rem;
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    border-radius: 15px;
  }
  
  .bill-input,
  .tip-select {
    margin-bottom: 3.6rem;
  }
  
  .bill-input {
    padding-top: 2.4rem;
  }
  
  .input-text {
    display: block;
    font-size: 1.6rem;
    color: var(--label);
    margin-bottom: 1rem;
    position: relative;
  }
  
  input,
  button {
    font-size: inherit;
    font-family: inherit;
    height: 4.8rem;
    padding: 0 1.6rem;
    border: none;
    border-radius: 5px;
  }
  
  /* Hiding arrows from number inputs */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
  
  input {
    width: 100%;
    background-color: var(--input-bg);
    outline: none;
    text-align: right;
    caret-color: var(--secondary);
    background-repeat: no-repeat;
    background-position-x: 1.6rem;
    background-position-y: center;
  }
  
  input:focus {
    box-shadow: 0 0 0 2px var(--secondary);
  }
  
  input,
  .options * {
    font-weight: 700;
  }
  
  #bill {
    background-image: url('./images/icon-dollar.svg');
  }
  
  #people {
    background-image: url('./images//icon-person.svg');
  }
  
  input::placeholder {
    color: var(--placeholder);
  }
  
 
  .tip-btn.active {
    background-color: var(--secondary);
    color: var(--primary);
  }
  
  button:hover {
    background-color: var(--secondary-light);
    color: var(--primary);
  }
  
  .custom::placeholder {
    text-align: center;
  }
  
  .count-input {
    padding-bottom: 2.4rem;
  }
  
  .total {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    padding: 4.8rem 3.2rem 3.2rem;
    border-radius: 40px;
    margin: 2px;
  }
  
  .tip-count-container {
    display: flex;
    justify-content: space-between;
  }
  
  .tip-count-text {
    font-size: 1.4rem;
    color: var(--white);
    margin-bottom: 4.8rem;
  }
  
  .tip-count-text span {
    font-weight: normal;
    color: var(--placeholder);
  }
  #tipAmount,
  #totalBillWithTip
  {
    font-size: 3.6rem;
    color: var(--secondary);
  }
  .tip-amount,
  .total-amount {
    font-size: 3.6rem;
    color: var(--secondary);
  }
  
  .reset {
    margin-top: auto;
    font-weight: bold;
    background-color: var(--secondary-light);
    color: var(--primary);
    opacity: 0.3;
    transition: 0.3s;
  }
  
  .reset.active {
    background-color: var(--secondary);
  }
  
  .reset:hover,
  .reset.active {
    opacity: 1;
  }
  
  .attribution {
    font-size: 1.4rem;
  }
  
  .attribution a:link,
  .attribution a:visited {
    color: var(--primary);
    text-decoration: none;
    position: relative;
  }
  
  .attribution a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    left: 0;
    bottom: 0;
    transition: 0.3s;
    background-color: var(--primary);
  }
  
  .attribution a:hover::after {
    width: 100%;
  }
  
  @media (max-width: 90em) {
    body {
      margin-top: 8rem;
      margin-bottom: 8rem;
      height: auto;
    }
  }
  
  @media (max-width: 62em) {
    main {
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 36em) {
    html {
      font-size: 56.25%;
    }
  
    .options {
      grid-template-columns: 1fr 1fr;
    }
  
    .attribution {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 23em) {
    html {
      font-size: 43.75%;
    }
  
    .attribution {
      font-size: 1rem;
    }
  }
  
  